
@{
    ViewData["title"] = "SignUpPage";
}

<head>
	<title>Sign Up Page</title>
	<link rel="stylesheet" href="~/css/loginauthentication.css" />
</head>
<body>

	<!-- Main Content -->
	<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo">
					@* <img class="ghostHireLogo" src="~/assets/images/GhostHireLogo.png"/> *@
				</span>
				<h4 class="company_title">Ghost Hire</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Sign Up</h2>
					</div>
					<div class="row">
						<form asp-action="SignUpPage" control="" class="form-group">
							<div class="row">
								<input type="text" name="username" id="username" class="form__input" placeholder="Username">
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
								<input type="password" name="password" id="password" class="form__input" placeholder="Password">
							</div>
							<div class="row">
								<input type="password" name="password" id="password" class="form__input" placeholder="ConfirmPassword" />
							</div>
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>